.racks  {
    color:red;
    margin: 2px 2px 2px 2px ;
    display: inline-block;
}
.racks>*  {
    border: 1px solid black ;
    margin: 1px;
    display: inline-block;
}
#main{
    width: 100;
    text-align: center

}
#divracks{
    display: inline-block;

}