.racks  {
    color:red;
    margin: 3px;
    display: inline-block;
}
.racksFound  {
    border: 1px solid darkgreen ;
    border-radius: 12px;
    color:darkgreen;
    margin: 3px;
    display: inline-block;
}
.racks>*  {
    border: 1px solid red ;
    border-radius: 12px;
    margin: 1px;
    display: inline-block;
    font-size: 15px;
    text-align: center;

}
#bingos>*  {
    border: 2px solid black ;
    border-radius: 12px;
    margin: 3px;
    display: inline-block;
    font-size: 30px;
    width: 25px;
    height: 35px;
    text-align: center;
}
#main{
    width: 95%;
    text-align: center

}
#main>*{
    margin: 10px;
}
#divracks{
    display: inline-block;

}
#upper{
    width: 100%;
    display: inline-block;
    position:relative;

}
#score{
    display: inline-block;
    position:absolute;
    top:0;
    right:0;

}
#divguess{
    margin: 10px;

}