.racks  {
    color:red;
    margin: 2px;
    display: inline-block;
}
.racks>*  {
    border: 1px solid black ;
    margin: 1px;
    display: inline-block;
}
#bingos>*  {
    border: 2px solid black ;
    margin: 3px;
    display: inline-block;
}
#main{
    width: 95%;
    text-align: center

}
#main>*{
    margin: 10px;
}
#divracks{
    display: inline-block;

}
#upper{
    width: 100%;
    display: inline-block;
    position:relative;

}
#score{
    display: inline-block;
    position:absolute;
    top:0;
    right:0;

}